<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="content-card">
    <label>Title</label>
    <div>
      <input type="text" name="post-title" class="form-input" />
    </div>

    <label>Content</label>
    <div>
      <textarea name="post-body" class="form-input"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/new-post.js"></script>