<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signupForm" class="card-body">
      <div>
        <label>Username:</label>
        <input type="text" id="usernameSignup"></input>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" id="passwordSignup"></input>
      </div>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
      <br>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>