<div class="admin-content">
  {{#each posts}}
  <div class="post-card">
    <a class="admin-post" href="/dashboard/edit/{{id}}">
      <div class="card-title">{{title}}</div>
      {{format_date createdAt}}
    </a>
  </div>
  {{/each}}
</div>